.input {
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  border-radius: 16px;
  border: 1px solid var(--bg-4);
  box-sizing: border-box;

  &::placeholder {
    color: var(--text-light-gray);
  }
  &:disabled {
    &::placeholder {
      color: #d9d9d9;
    }
    background-color: #ffffff;
  }
}

.errMsg {
  color: #ff0000;
  position: relative;

  &_IcnTooltip {
    margin-right: 8px;
    vertical-align: middle;
  }
}
