.input {
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  border-radius: 16px;
  border: 1px solid var(--bg-4);
  box-sizing: border-box;

  &::placeholder {
    color: var(--text-light-gray);
  }
  &:disabled {
    &::placeholder {
      color: #d9d9d9;
    }
    background-color: #ffffff;
  }
  &:focus {
    outline-color: var(--primary-color);
  }

  & + .errMsg {
    margin-top: 8px;
  }

  &.err {
    border-color: var(--accent-color);
    border-width: 2px;

    &:focus {
      outline-color: var(--accent-color);
    }
  }
}

.errMsg {
  color: var(--accent-color);
  position: relative;

  &_IcoTooltip {
    margin-right: 8px;
    vertical-align: middle;
  }
}
