.pointsToNote {
  padding: 16px;
  background-color: #f6f7fb;
  border-radius: 16px;
}

.header {
  margin-bottom: 4px;
}

.ul {
  margin-left: 16px;
  list-style-type: disc;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: var(--text-dark-gray);
  word-break: break-word;
}
