.pointsToNote {
  padding: 16px;
  background-color: #f6f7fb;
  border-radius: 16px;
}

.header {
  margin-bottom: 4px;
}

.ul {
  margin-left: 16px;
  list-style-type: disc;
}

.text {
  word-break: break-word;
}
