.btnArea {
  margin: 0 -3px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  a,
  button {
    margin: 0 3px;
  }

  &.left {
    button:first-child,
    a:first-child {
      width: 35%;
    }
  }

  &.right {
    button:last-child,
    a:last-child {
      width: 35%;
    }
  }
}
