.text {
  word-break: keep-all;
}

.md {
  font-size: 14px;
  line-height: 22px;
}
.lg {
  font-size: 16px;
  line-height: 24px;
}
.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}
.demiLight {
  font-weight: 350;
}
.black-300 {
  color: #292929;
}
.black-200 {
  color: #707070;
}
.black-100 {
  color: #999999;
}
.black-0 {
  color: #ffffff;
}
