.main {
  padding: 0px 20px;
}

.listItem {
  height: 64px;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #f1f1f1;
  background-image: url(/asset/image/ico/ico_detail_arrow.svg);
  background-repeat: no-repeat;
  background-position: right 0px center;
  background-size: 16px 16px;
}
