.main {
  padding: 80px 20px;
}

.listItem {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #f1f1f1;
  height: 100%;

  &Title {
    width: 100%;
    word-break: break-word;
  }
  &Content {
    word-break: break-word;
  }
}

.textWrapper {
  padding: 24px 0px;
}
.btnWrapper {
  width: 60px;
  display: flex;
  justify-content: flex-end;

  // checkboxToggle 임시 적용
  input {
    width: 100%;
    height: 48px;
    padding: 14px 16px;
    border-radius: 16px;
    border: 1px solid var(--bg-4);
    box-sizing: border-box;
  }
  input::placeholder,
  textarea::placeholder {
    color: var(--text-light-gray);
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 10px;
    padding: 0;
    appearance: none;
    border: 2px solid var(--bg-4);
    vertical-align: middle;
  }
  input[type="checkbox"]:last-child,
  input[type="radio"]:last-child {
    margin-right: 0;
  }
  input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 2px;
  }
  input[type="checkbox"]:checked {
    position: relative;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
  }
  input[type="checkbox"]:checked::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 6px;
    margin: 0 0 4px 1px;
    border-left: 2px solid var(--bg-1);
    border-bottom: 2px solid var(--bg-1);
    transform: rotate(315deg);
  }
  input[type="checkbox"].checkboxToggle {
    width: 44px;
    height: 28px;
    border-radius: 16px;
    background-color: var(--bg-4);
  }
  input[type="checkbox"].checkboxToggle::after {
    content: "";
    position: absolute;
    border: 0;
    width: 24px;
    height: 24px;
    margin: 0;
    background-color: var(--bg-1);
    border-radius: 50%;
    transform: translate(0, 0);
    transition: 0.2s;
  }
  input[type="checkbox"].checkboxToggle:checked {
    background-color: var(--primary-color);
  }
  input[type="checkbox"].checkboxToggle:checked::after {
    transition: 0.2s;
    transform: translate(66%, 0);
  }
}
