:root {
  --primary-color: #004eff;
  --accent-color: #ff0000;
  --bg-1: #ffffff;
  --bg-2: #f6f7fb;
  --bg-3: #d9d9d9;
  --bg-4: #e8f0fd;
  --text-default: #292929;
  --text-darkgray: #4d4d4d;
  --text-gray: #707070;
  --text-light-gray: #999999;
  --text-light: #ffffff;
  --line-1: #e6e6e6;
  --line-2: #f1f1f1;
  --filter--primary_color: invert(21%) sepia(76%) saturate(6606%)
    hue-rotate(223deg) brightness(100%) contrast(108%);
  --bg-disable: #efefef;
  --text-disable: #bcc0c9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hiddenText {
  width: 0;
  height: 0;
  color: transparent;
  font-size: 0;
  line-height: 0;
}
